{% extends 'template.html' %}
{% block content %}
    <a href="{{ url_for('form') }}" class="button-primary">Otimizar agora</a>
    <a href="{{ url_for('deletar_todas_as_consultas') }}" class="button-secondary">Deletar todas as
        consultas</a>
    <a href="{{ url_for('index') }}" class="button-secondary">Voltar ao início</a>
    <br><br>
    <table class="table table-striped table-responsive table-bordered">
        <thead class="thead-default">
        <tr>
            <th>Quantidade<br>de dias</th>
            <th>Quantidade<br>de ouro</th>
            <th>Quantidade<br>de solo</th>
            <th>Estação</th>
            <th>Lucro máximo</th>
            <th>Data e hora</th>
        </tr>
        </thead>
        <tbody>
        {% for consulta in consultas %}
            <tr>
                <td>{{ consulta.quantidade_dias }}</td>
                <td>{{ consulta.quantidade_ouro }}</td>
                <td>{{ consulta.quantidade_solo }}</td>
                <td>{{ consulta.estação.title() }}</td>
                <td>{{ consulta.lucro_máximo }}</td>
                <td>{{ consulta.data_hora }}</td>
                <td>
                    <a href="{{ url_for('deletar_uma_consulta',
                    identificador=consulta.id) }}" style="color: red">Deletar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}