{% extends 'template.html' %}
{% block content %}
    <form action="{{ url_for('otimizar') }}" method="post">
        <fieldset>
            <div class="form-group">
                <label for="quantidade_dias">Dias restantes:</label>
                <input
                        type="number"
                        id="quantidade_dias"
                        name="quantidade_dias"
                        class="form-control"
                        min="0"
                        max="28">
            </div>
            <div class="form-group">
                <label for="quantidade_ouro">Ouro disponível:</label>
                <input type="number"
                       id="quantidade_ouro"
                       name="quantidade_ouro"
                       class="form-control"
                       min="0">
            </div>
            <div class="form-group">
                <label for="quantidade_solo">Solo disponível:</label>
                <input type="number"
                       id="quantidade_solo"
                       name="quantidade_solo"
                       class="form-control"
                       min="0">
            </div>
            <div class="form-group">
                <label for="estação">Estação:</label>
                <select id="estação" name="estação" class="form-control">
                    <option value="outono">Outono</option>
                    <option value="primavera">Primavera</option>
                    <option value="verão">Verão</option>
                </select>
            </div>
            <br>
            <button type="submit" class="button-primary">Otimizar</button>
            <a href="{{ url_for('index') }}" class="button-secondary">Voltar ao início</a>
        </fieldset>
    </form>
{% endblock %}