{% extends 'template.html' %}
{% block content %}
    <a href="{{ url_for('form') }}" class="button-primary">Otimizar agora</a>
    <a href="{{ url_for('consultas') }}" class="button-secondary">Suas consultas</a>
    <br><br>
    <table class="table table-striped table-responsive table-bordered">
        <thead class="thead-default">
        <tr>
            <th>Imagem</th>
            <th>Nome</th>
            <th>Inverno</th>
            <th>Outono</th>
            <th>Primavera</th>
            <th>Verão</th>
            <th>Preço de<br>compra</th>
            <th>Local de<br>compra</th>
            <th>Preço<br>venda<br>comum</th>
            <th>Preço<br>venda<br>incomum</th>
            <th>Dias para<br>amadurecer</th>
            <th>Dias<br>até colher<br>novamente</th>
        </tr>
        </thead>
        <tbody>
        {% for fruta in frutas %}
            <tr>
                <td>
                    <img src="{{ url_for('static', filename='images/' + fruta.nome_fruto + '.png') }}"
                         alt=""
                         style="width: 50%">
                </td>
                <td>{{ fruta.nome_fruto }}</td>
                <td>
                    {% if fruta.inverno %}
                        Sim
                    {% else %}
                        Não
                    {% endif %}
                </td>
                <td>
                    {% if fruta.outono %}
                        Sim
                    {% else %}
                        Não
                    {% endif %}
                </td>
                <td>
                    {% if fruta.primavera %}
                        Sim
                    {% else %}
                        Não
                    {% endif %}
                </td>
                <td>
                    {% if fruta.verão %}
                        Sim
                    {% else %}
                        Não
                    {% endif %}
                </td>
                <td>{{ fruta.preço_compra }}</td>
                <td>{{ fruta.local_compra }}</td>
                <td>{{ fruta.preço_venda_comum }}</td>
                <td>{{ fruta.preço_venda_incomum }}</td>
                <td>{{ fruta.dias_para_amadurecer }}</td>
                <td>
                    {% if fruta.dias_até_colher_novamente %}
                        {{ fruta.dias_até_colher_novamente }} dias
                    {% else %}
                        Colheita única
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}